@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); 

body, html{
    font-family: 'Rubik', sans-serif !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    
}

.container {
    max-width: 100% !important;
}

/***START of CART PAGE ****/

.cart-page__content { 
    padding: 1.5em;
    flex: 0 0 65%;
}

.cart-page__summary {
    flex: 0 0 35%;
}

.cart-page__summary .cart-page__checkout {
    background: #f3f3f3;
    padding: 1.5em;
}
.cart-level__subtotal-heading {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.cart-content__table-header {
    border-bottom: 1px solid #D8D8D8;
}

.cart-content__item {
    border-bottom: 1px solid #D8D8D8;
}

.cart-content__item td{
    padding: 20px 0;
}

.table-header__info { 
    vertical-align: top;
    width: 65%; 
}
.table-header__quantity {
    vertical-align: top;
    text-align: right; 
    width: 15%; 
}
.table-header__price {
    vertical-align: top;
    text-align: right; 
    width: 20%; 
}

.line-item__info {
    vertical-align: top;
    font-size: 15px;
}

.line-item__image {
    border: 1px solid #eeeff0;
    max-width: 120px;
}

.line-item__quantity {
    vertical-align: top;
    font-size: 15px;
}

.line-item__price {
    vertical-align: top;
    font-size: 15px;
    position: relative;
    padding: 0 0 10px 0;
}

.line-item__price .price-container{
    text-align: right;
}

.line-item__adjustments {
    position: absolute;
    bottom: 15px;
    right: 0;
    text-align: right;
}

.line-item__adjustments .line-item__remove {
    color: #000;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.line-item__adjustments .line-item__remove:hover {
    color: #7a7a7a;
}

.line-item__adjustments .line-item__remove::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

.line-item__title a {
    color: #000;
    text-decoration: none;
}

.input-container {
    text-align: right;
}

.input-container input[type="number"] {
    padding: 7px 1px 7px 10px;
    border: 1px solid #949494;
}



.cart-item__wrapper {
    position: relative;
}

.cart-item__wrapper .line-item__adjustments {

}
  
.quantity-column input[type=number]::-webkit-inner-spin-button,
.quantity-column input[type=number]::-webkit-outer-spin-button
{
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
  
.quantity-column input[type=number]
{
    appearance: textfield;
    -moz-appearance: textfield;
}
  
.quantity-column .quantity input {
    width: 35px;
    height: 35px;
    line-height: 1.65;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
/** Added 10/25 **/
    display: flex;
}
  
.quantity-column .quantity input:focus {
    outline: 0;
}
  
.quantity-column .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
/** Added 10/25 **/
    position: relative;
    height: auto;
}
.quantity-column .quantity-button {
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
/** Added 10/25 **/
width: 10px;
}
  
.quantity-column .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}
  
.quantity-column .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
/** Added 10/24 ***/

/** Added 10/25 **/
.quantity-column .input-container{
    display: flex;
}

.quantity-column .input-container input {
    text-align: center; 
    width: 40px;
    height: 40px;
    border: 1px solid #7a7a7a;
}

.quantity-column .input-container .navBtns {
    height: 40px;
    width: 20px; 
    border-right: 1px solid #7a7a7a; 
    border-top: 1px solid #7a7a7a; 
    border-bottom: 1px solid #7a7a7a;
    position: relative;
}

.quantity-column .input-container .navBtns .qty-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
}
.quantity-column .input-container .navBtns .qty-btns.top {
    border-bottom: 1px solid #7a7a7a;
}
/***END of CART PAGE ****/

.cart-item .quantity {
    width: 50px;
    display: flex;
}
  
.cart-item input[type=number]::-webkit-inner-spin-button,
.cart-item input[type=number]::-webkit-outer-spin-button
{
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
  
.cart-item input[type=number]
{
    appearance: textfield;
    -moz-appearance: textfield;
}
  
.cart-item .quantity input {
    width: 35px;
    height: 35px;
    line-height: 1.65;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
/** Added 10/25 **/
    display: flex;
}
  
.cart-item .quantity input:focus {
    outline: 0;
}
  
.cart-item .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
/** Added 10/25 **/
    position: relative;
    height: auto;
}
  
.cart-item .quantity-button {
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
/** Added 10/25 **/
width: 10px;
}
  
.cart-item .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}
  
.cart-item .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
/** Added 10/24 ***/

/** Added 10/25 **/
.cart-item .input-container{
    display: flex;
}

.cart-item .input-container input {
    text-align: center; 
    width: 40px;
    height: 40px;
    border: 1px solid #7a7a7a;
}

.cart-item .input-container .navBtns {
    height: 40px;
    width: 20px; 
    border-right: 1px solid #7a7a7a; 
    border-top: 1px solid #7a7a7a; 
    border-bottom: 1px solid #7a7a7a;
    position: relative;
}

.cart-item .input-container .navBtns .qty-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
}

.cart-item .input-container .navBtns .qty-btns.top {
    border-bottom: 1px solid #7a7a7a;
}

/** Added 10/25 **/

.dummy-cart {
    display: block;
    position: fixed;
    right: 0;
    z-index: 5000;
    /* height: 100vh; */
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
    width: 400px;
}

.dummy-cart input[type=number]::-webkit-inner-spin-button, 
.dummy-cart input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.dummy-cart__header {
    position: relative;
}

.close-cart-btn {
    border: none;
    background: none;
    color: red;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.dummy-cart .cart-items { 
    width: 400px;
}

/***********************************Start of Header************************************************/
nav {
    position: relative;
}

nav .alt-btns { 
    color: rgba(0,0,0,.5);
}

nav .alt-btns .text { 
    display:none;
    color: rgba(0,0,0,.5);
}

.navbar-toggler { 
    border: none; 
    font-size: inherit;
}

.navbar-toggler-icon { background-image: url("../img/menu.svg") !important; }

.add-to-cart { position: relative; }

.add-to-cart span {
    position: absolute;
    right: 0;
    top: 60px;
    transform: translate(-50%,-60px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

/***********************************End of Header************************************************/


/********CART********/
.cart-outer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    
  }

  .cart {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      height: 100%;
      background: white;
      z-index: 2000;
    }
  
  .cart .cart__header {
    position: relative;
  }
  
  .cart .cart__header .cart__exit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
  }
  
  
    
    .bg-overlay {
      height: 100vh;
    }
    
    .cart .cart__content {
      background: white;
      height: 100vh;
  }
  /********CART********/


/***Start of Carousel***/
/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    /* background: #FFFFFF; */
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
width:100%;
}
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }

/***End of Carousel***/
  
  
button {
    border: none;
    background: #000000;
    color: #FFFFFF;
    /* border-radius: 30px !important; */
}
  
input[type="number"] {
    border-style: none;
    max-width: 50px;
}
  
/* .btn {
    padding: 10px 30px !important;
    font-size: .9rem;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
} */

/* PRODUCT PAGE */
.product-description-list {
    list-style: inside;
    line-height: 1.3rem;
  }
  
  .product__wrapper {
    min-height: 100vh;
  }
  
  
  .product__wrapper .product-details .product-price {
    font-size: 1.55rem;
  }
  
  
  .product__wrapper .product-display #product_display {
    width: 100%;
  }
  
  .product__wrapper .product-display .carousel {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
  
  .product__wrapper .product-display .carousel .carousel-inner .carousel-item {
    position: relative;
  }
  
  .product__wrapper .product-display .carousel .carousel-inner .carousel-item img {
    max-height: 100%;
    object-fit: cover;
  }
  /* PRODUCT PAGE */

  
/***********************************Start of Products************************************************/


.products .product {
    overflow: hidden;
    position: relative;
}
  
.products .product img {
    max-width: 100%;
}
  
  
.products .product .overlay .price { 
    font-weight: 300;
    font-size: .95rem;
}
  
/***********************************End of Products************************************************/
  
footer .l-side {
    display: grid;
    grid-template-columns: 6fr 6fr;
}
  
footer .details {
    display: flex;
    flex-wrap: wrap;
}

/***Start of Footer***/
footer ul { 
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
  
footer .pages .page-itm,
footer .social-media .social-media-itm { 
    margin-right: 20px;
}

footer .pages .page-itm:last-child,
footer .social-media .social-media-itm:last-child { 
    margin-right: 0;
}

/**************PRODUCT PAGE*************************/

.square { 
    width: 100%; 
    position: absolute;
    display: flex;
    justify-content: center; align-items: center;
    overflow: hidden;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
.content {
    position: relative;
}


.carousel-indicators li {
    height: 30px !important;
    border-radius: 50%;
    margin-right: 8px !important;
}

  /**************PRODUCT PAGE*************************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    /***********************************Start of Header************************************************/
    

    nav { padding: 10px 20px; }

    nav .loupe, .bag { width: 25px; }

    .logo { width: 6rem; }
    .square { 
        max-width: 100%; 
        top: 0;
      }
    /***********************************End of Header************************************************/
    
    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }

    /***********************************Start of Header************************************************/
    .loupe, .bag { width: 24px; }
    /***********************************End of Header************************************************/
    
    .products .product {
        overflow: hidden;
        position: relative;
    }

    .product .overlay {
        position: static;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
    }
  
    footer .row .l-side .categories li a {
        font-size: 1.5rem;
    }
    
    footer .row .l-side .collections li a {
        font-size: 1.5rem;
    }
  
    footer .row .r-side p {
        line-height: 1.3;
        font-size: 1.5rem;
    }
    
}

  
  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }

    /***********************************Start of Products************************************************/
    .product {
        overflow: hidden;
    }

    .products .product {
        overflow: hidden;
        position: relative;
    }

    .product .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
        z-index: 1300;
    }
    
    footer .row .content .l-side {
        flex: 0 0 35%;
    }
    
    footer .row .content .r-side {
        flex: 0 0 55%;
    }
    /***********************************End of Products************************************************/
}
  
  /* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    /***********************************Start of Header************************************************/
    nav { position: relative; }

    nav .alt-btns { 
        position: absolute;
        right: 0;
    }

    nav .alt-btns .text { display: inline-block; }

    
    /***********************************End of Header**************************************************/

    footer .row .content {
        display: flex;
    }
    
}
  
  /* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    /***********************************Start of Products************************************************/
    .products {
        overflow-x: hidden;
    }


    .products *[class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .products .product {
        overflow: hidden;
        position: relative;
        max-height: 690px;
    }
    
    .products .product .overlay {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
        z-index: 1300;
    }
     /***********************************End of Products************************************************/

     /***********************************Start of Footer************************************************/
    footer .row .l-side {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
  
    footer .row .l-side .memu-list li a {
        font-size: 1.5rem;
        font-size: 1rem;
    }
    
  
    footer .row .r-side p {
        line-height: 1.3;
        font-size: 1.5rem;
    }
    
    footer .btn {
        display: block;
        padding: 15px 30px !important;
        font-size: 1rem;
        text-align: center;
        background: transparent;
        border: 2px solid #000;
        color: #000;
    }
     /***********************************Start of Footer************************************************/
    
}