@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap'); 

body, html{
    font-family: 'Rubik', sans-serif !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 100% !important;
}


/***********************************Start of Header************************************************/
nav {
    position: relative;
}

nav .alt-btns { 
    color: rgba(0,0,0,.5);
}

nav .alt-btns .text { 
    display:none;
    color: rgba(0,0,0,.5);
}

.navbar-toggler { 
    border: none; 
    font-size: inherit;
}

.navbar-toggler-icon { background-image: url("../img/menu.svg") !important; }

/***********************************End of Header************************************************/


/********CART********/
.cart-outer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    
  }
  .cart {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      height: 100%;
      background: white;
      z-index: 2000;
    }
  
  .cart .cart__header {
    position: relative;
  }
  
  .cart .cart__header .cart__exit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
  }
  
  
    
    .bg-overlay {
      height: 100vh;
    }
    
    .cart .cart__content {
      background: white;
      height: 100vh;
  }
  /********CART********/


/***Start of Carousel***/
/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    /* background: #FFFFFF; */
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
width:100%;
}
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }

/***End of Carousel***/
  
  
button {
    border: none;
    background: #000000;
    color: #FFFFFF;
    /* border-radius: 30px !important; */
}
  
input[type="number"] {
    border-style: none;
    max-width: 50px;
}
  
/* .btn {
    padding: 10px 30px !important;
    font-size: .9rem;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
} */
  
/***********************************Start of featured-products************************************************/


.featured-products .product {
    overflow: hidden;
    position: relative;
}
  
.featured-products .product img {
    max-width: 100%;
}
  
  
.featured-products .product .overlay .price { 
    font-weight: 300;
    font-size: .95rem;
}
  
/***********************************End of featured-products************************************************/
  
footer .l-side {
    display: grid;
    grid-template-columns: 6fr 6fr;
}
  
footer .details {
    display: flex;
    flex-wrap: wrap;
}

/***Start of Footer***/
footer ul { 
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
  
footer .pages .page-itm,
footer .social-media .social-media-itm { 
    margin-right: 20px;
}

footer .pages .page-itm:last-child,
footer .social-media .social-media-itm:last-child { 
    margin-right: 0;
}

/**************PRODUCT PAGE*************************/

.square { 
    position: absolute;
    display: flex;
    justify-content: center; align-items: center;
  }
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: relative;
  }
  
  .carousel-indicators li {
    height: 30px !important;
    border-radius: 50%;
    margin-right: 8px !important;
  }

  /**************PRODUCT PAGE*************************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    /***********************************Start of Header************************************************/
    

    nav { padding: 10px 20px; }

    nav .loupe, .bag { width: 25px; }

    .logo { width: 6rem; }
    .square { 
        max-width: 100%; 
        top: 0;
      }
    /***********************************End of Header************************************************/
    
    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }

    /***********************************Start of Header************************************************/
    .loupe, .bag { width: 24px; }
    /***********************************End of Header************************************************/
    
    .featured-products .product {
        overflow: hidden;
        position: relative;
    }

    .product .overlay {
        position: static;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
    }
  
    footer .row .l-side .categories li a {
        font-size: 1.5rem;
    }
    
    footer .row .l-side .collections li a {
        font-size: 1.5rem;
    }
  
    footer .row .r-side p {
        line-height: 1.3;
        font-size: 1.5rem;
    }
    
}

  
  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .product-display,
    .product-details {
        padding: 0;
        min-height: auto;
    }

      
    .product-price { font-size: 1.4rem; }
    .product-title { font-size: 1.8rem; }
    .product-description-list { padding-left: 0; }

    .square { 
        position: inherit;
        max-width: 100%;
        display: flex;
        justify-content: center; align-items: center;
      }

    /***********************************Start of featured-products************************************************/
    .product {
        overflow: hidden;
    }

    .featured-products .product {
        overflow: hidden;
        position: relative;
    }

    .product .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
        z-index: 1300;
    }
    
    footer .row .content .l-side {
        flex: 0 0 35%;
    }
    
    footer .row .content .r-side {
        flex: 0 0 55%;
    }
    /***********************************End of featured-products************************************************/
}
  
  /* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    /***********************************Start of Header************************************************/
    nav { position: relative; }

    nav .alt-btns { 
        position: absolute;
        right: 0;
    }

    nav .alt-btns .text { display: inline-block; }

    
    /***********************************End of Header**************************************************/

    footer .row .content {
        display: flex;
    }
    
}
  
  /* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    /***********************************Start of featured-products************************************************/
    .featured-products {
        overflow-x: hidden;
    }


    .featured-products *[class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .featured-products .product {
        overflow: hidden;
        position: relative;
        max-height: 690px;
    }
    
    .featured-products .product .overlay {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        font-size: 1.45rem;
        z-index: 1300;
    }
     /***********************************End of featured-products************************************************/

     /***********************************Start of Footer************************************************/
    footer .row .l-side {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
  
    footer .row .l-side .categories li a {
        font-size: 1.5rem;
    }
    
    footer .row .l-side .collections li a {
        font-size: 1.5rem;
    }
  
    footer .row .r-side p {
        line-height: 1.3;
        font-size: 1.5rem;
    }
    
    footer .btn {
        display: block;
        padding: 15px 30px !important;
        font-size: 1rem;
        text-align: center;
        background: transparent;
        border: 2px solid #000;
        color: #000;
    }
     /***********************************Start of Footer************************************************/
    
}